*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #251F1E !important;
    font-family: "Roboto" !important;
}

body{
    margin: 0px !important;
    height: 100vh;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 28px;
}

p, ul, span, .label, .value {
    color: #FFFFFF;
}

.informations {
    color: #FFFFFF;
    font-size: 16px;
}

.section {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}